._35d1T {
  display: block;
}

._2BDGq::before {
  display: block;
}

._38vEw {
  display: flex;
}

._2UIwE {
  display: inline-block;
}

._28qln {
  display: inline-flex;
}

._2GBAt {
  display: inline-table;
}

._25zKr {
  display: none;
}

._1vncG {
  display: table;
}

.zM8b7 {
  display: grid;
}

.duqoy {
  display: inline-grid;
}

._3ZPmD {
  display: inline;
}

/*
 * Sizing (one, two, three, etc.) refer to divisions of typical margin/margin values.
 * Directional units (left, top, right, bottom) are separated to be improve composibility.
 * Combination units (horizontal, vertical) make it easy to compose complete rules.
 *
 * Note: the omission of shorthand is intentional, since it can make maintenance and overrides hard
 *
 */
.Nbird {
  margin: auto;
}
._2KlqB {
  margin-top: 0;
}
._10LBE {
  margin-top: 0.25rem;
}
._2dzOl {
  margin-top: -0.25rem;
}
._3ex4g {
  margin-top: 0.5rem;
}
.uE9i- {
  margin-top: -0.5rem;
}
._1H0Wr {
  margin-top: 1rem;
}
._352d5 {
  margin-top: 1.5rem;
}
._3ky2T {
  margin-top: 2rem;
}
._29Zve {
  margin-top: 2.5rem;
}
._21ggO {
  margin-top: 3rem;
}
._1CuAO {
  margin-top: 3.5rem;
}
._1x71U {
  margin-top: 4rem;
}
._1Qpg3 {
  margin-top: -2rem;
}
._2AJpH {
  margin-top: 8rem;
}
._10maj {
  margin-top: 20rem;
}
.pA9Ms {
  margin-left: auto;
}
._24957 {
  margin-left: -0.75rem;
}
._1ieM1 {
  margin-left: -0.125rem;
}
.QiK5X {
  margin-left: 0;
}
._33yXx {
  margin-left: 0.25rem;
}
._2h_u9 {
  margin-left: 0.5rem;
}
._1ANfZ {
  margin-left: 1rem;
}
._3GIt4 {
  margin-left: 1.5rem;
}
._2EXSJ {
  margin-left: 2rem;
}
.QQf-N {
  margin-left: 2.5rem;
}
._1hJpF {
  margin-left: 3rem;
}
._3VbsV {
  margin-left: 3.75rem;
}
._1XMhf {
  margin-left: 6rem;
}
._1MAnR {
  margin-left: 20rem;
}
._2h5xf {
  margin-right: auto;
}
._3uIc4 {
  margin-right: 0;
}
._3fYg- {
  margin-right: 0.25rem;
}
.Bwg0m {
  margin-right: 0.5rem;
}
._2tlWI {
  margin-right: 0.75rem;
}
._2cNJs {
  margin-right: 1rem;
}
.MX-4H {
  margin-right: 1.5rem;
}
._1ONfY {
  margin-right: 2rem;
}
.g8mQX {
  margin-right: 2.5rem;
}
._27PaU {
  margin-right: 3rem;
}
._1KHUf {
  margin-right: 4.75rem;
}
._2eLoc {
  margin-bottom: 0;
}
.j6ZqG {
  margin-bottom: 0.125rem;
}
._3hStP {
  margin-bottom: 0.25rem;
}
.Ed-qb {
  margin-bottom: 0.5rem;
}
.WXSRo {
  margin-bottom: 1rem;
}
._1I2Rf {
  margin-bottom: 1.5rem;
}
._1AFTY {
  margin-bottom: 2rem;
}
._2KpkM {
  margin-bottom: 2.5rem;
}
.G6Nn1 {
  margin-bottom: 3rem;
}
._2dxM4 {
  margin-bottom: 3.5rem;
}
._1gKgn {
  margin-bottom: 4rem;
}

.Aj4kU {
  margin-top: -1rem;
  margin-bottom: -1rem;
}
._2CG5A {
  margin-top: auto;
  margin-bottom: auto;
}
._3Yf9L {
  margin-top: 0;
  margin-bottom: 0;
}
._2eN1T {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.FHz64 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.gF9lO {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
._2VAA_ {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
._43jsU {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
._37eKk {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
._2EzoR {
  margin-left: 0;
  margin-right: 0;
}
._14rmW {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
._18vE2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.y5mMe {
  margin-left: 1rem;
  margin-right: 1rem;
}
._1S3PO {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
._2joLd {
  margin-left: 2rem;
  margin-right: 2rem;
}
.DhW0m {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

._2IaQE {
  margin-left: 0.75rem;
}
._1ZtFg {
  margin-right: 0.75rem;
}

._3ULEA > :not(:last-child) {
  margin-right: 0.25rem;
}
._1PieZ > :not(:last-child) {
  margin-right: 0.5rem;
}
._1R-zt > :not(:last-child) {
  margin-right: 1rem;
}
._1McRH > :not(:last-child) {
  margin-right: 1.5rem;
}
._2jvHH > :not(:last-child) {
  margin-right: 2rem;
}

._3FlUF > :not(:last-child) {
  margin-bottom: 0.25rem;
}
._1hAn8 > :not(:last-child) {
  margin-bottom: 0.5rem;
}
._7gypZ > :not(:last-child) {
  margin-bottom: 1rem;
}
.v36Yl > :not(:last-child) {
  margin-bottom: 1.5rem;
}
._2tzoR > :not(:last-child) {
  margin-bottom: 2rem;
}

/*
 * Sizing (one, two, three, etc.) refer to divisions of typical padding/margin values.
 * Directional units (left, top, right, bottom) are separated to be improve composibility.
 * Combination units (horizontal, vertical) make it easy to compose complete rules.
 *
 * Note: the omission of shorthand is intentional, since it can make maintenance and overrides hard
 *
 */
.qdqfA {
  padding: unset;
}
.SwfDy {
  padding: inherit;
}
._1krvF {
  padding: 0;
}
._22ISW {
  padding: 0.25rem;
}
._3INH6 {
  padding: 0.5rem;
}
.dJ5rh {
  padding: 0.75rem;
}
.pOH_r {
  padding: 1rem;
}
._3ZoFr {
  padding: 1.25rem;
}
._2xz8C {
  padding: 1.5rem;
}
._1jucF {
  padding: 1.75rem;
}
.Lmj8O {
  padding: 2rem;
}
._2M75r {
  padding-top: 0;
}
.p5kDS {
  padding-top: 0.25rem;
}
._2io-P {
  padding-top: 0.5rem;
}
._1w2Un {
  padding-top: 1rem;
}
._2DGke {
  padding-top: 1.5rem;
}
.btj2t {
  padding-top: 1.75rem;
}
._344Ll {
  padding-top: 2rem;
}
._3xDSn {
  padding-top: 2.5rem;
}
._7cDFG {
  padding-top: 3rem;
}
.h_45S {
  padding-top: 6rem;
}
._2D3bO {
  padding-left: 0;
}
._1c-pu {
  padding-left: 0.25rem;
}
._1IGkB {
  padding-left: 0.5rem;
}
._2cXYx {
  padding-left: 0.75rem;
}
._3N6Oy {
  padding-left: 1rem;
}
.dWdON {
  padding-left: 1.25rem;
}
._1OR8j {
  padding-left: 1.5rem;
}
.mZibU {
  padding-left: 2rem;
}
._1KZkx {
  padding-left: 2.5rem;
}
._2qfe5 {
  padding-left: 3rem;
}
._1O5EC {
  padding-left: 4rem;
}
._2DaRU {
  padding-right: 0;
}
.UvFf6 {
  padding-right: 0.25rem;
}
.hLBkb {
  padding-right: 0.5rem;
}
.dEPbT {
  padding-right: 1rem;
}
._1yV6P {
  padding-right: 1.25rem;
}
.H4AvN {
  padding-right: 1.5rem;
}
._2-JUM {
  padding-right: 1.75rem;
}
.q4l7L {
  padding-right: 2rem;
}
._1g3zJ {
  padding-right: 2.5rem;
}
._2Pm5w {
  padding-right: 3rem;
}
.ef5My {
  padding-right: 4rem;
}
.i-ASB {
  padding-right: 7rem;
}
._3sJRg {
  padding-bottom: 0;
}
._1vsza {
  padding-bottom: 0.25rem;
}
._10CNu {
  padding-bottom: 0.5rem;
}
._2xZcW {
  padding-bottom: 1rem;
}
._1spPF {
  padding-bottom: 1.25rem;
}
._1uvx3 {
  padding-bottom: 1.5rem;
}
._3S262 {
  padding-bottom: 2rem;
}
._2s5UU {
  padding-bottom: 2.5rem;
}
._2RHvM {
  padding-bottom: 3rem;
}
.WJcMR {
  padding-top: 0;
  padding-bottom: 0;
}
._153GW {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
._1sVbl {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
._1mXOZ {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.iQ4OR {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
._1AgWy {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
._2x8E7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
._1oVwC {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
._3uP0k {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
._1bEti {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
._2JmUM {
  padding-left: 0;
  padding-right: 0;
}
._2p6zl {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
._2Z-Ay {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
._3nxnd {
  padding-left: 1rem;
  padding-right: 1rem;
}
._2J5Nr {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
._2WBji {
  padding-left: 2rem;
  padding-right: 2rem;
}
.CrTXj {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
._1edcs {
  padding-left: 3rem;
  padding-right: 3rem;
}
._3OvVM {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.jOdpK {
  padding-left: 4rem;
  padding-right: 4rem;
}
._2K-X8 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

._30o9j {
  align-items: center;
}

._1MHYm {
  align-items: stretch;
}

.Zp30w {
  align-items: flex-start;
}

._2rbvm {
  align-items: flex-end;
}

._1KCmT {
  align-items: baseline;
}

._3eEvC {
  align-items: normal;
}

._2BQ_i {
  flex: 1;
}

._15cix {
  flex: auto;
}

/*
  NOTE: Do not update this file without direct authorization from the UX team.

  If you do introduce a new line height class please name it after the component/context and add it
    to the `UX Approved Exceptions` section.
  ie: introducing line height for visualization metadata.
    Name the class `.visualization-metadata`.
*/

/* Typography */
._3Lk0M {
  line-height: normal;
}
._1_jWy {
  line-height: 1.33;
}
._29cDw {
  line-height: 1.25;
}
._1rR6A {
  line-height: 1.43;
}
._3Zl_L {
  line-height: 1.71;
}
._2wyhM {
  line-height: 1.43;
}
.ddmg5 {
  line-height: 1;
}
._1rPyt {
  line-height: 1.43;
}

/* UX Approved Exceptions */
._2L0gI {
  line-height: normal;
}

/*
  Legacy line heights
  NOTE: The following line heights exist for legacy purposes. 03/27/2019
    - They should not be introduced into new code.
    - They should be removed and replaced with components that use the classnames above.
*/
._1uj2V {
  line-height: 0;
}
._1JD5O {
  line-height: 1.25;
}
.OhjiE {
  line-height: 1.4;
}
._3T0il {
  line-height: 1.5;
}
._1WELb {
  line-height: 1.625;
}
._3jdUF {
  line-height: 1.75;
}

.GqQFg {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px; /* stylelint-disable-line unit-blacklist */
  margin: -1px; /* stylelint-disable-line unit-blacklist */
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; /* stylelint-disable-line unit-blacklist */
}

._1fl9c {
  border-radius: 0;
}

._2_av8 {
  border-radius: 0.125rem;
}

.UVoOc::before {
  border-radius: 0.125rem;
}

.xsceX:focus {
  border-radius: 0.125rem;
}

._3DQ0z {
  border-radius: 0.25rem;
}
._3bISS::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}

._33izG {
  border-radius: 0.5rem;
}

.wCJB1 {
  border-radius: 0.6rem;
}

._3pqBE {
  border-radius: 0.75rem;
}

._1DrPT {
  border-radius: 1rem;
}

._28gY1 {
  border-radius: 50%;
}

._1N7iu {
  border-bottom-right-radius: 0.25rem;
}

._2wStr {
  border-bottom-left-radius: 0.25rem;
}

._36-2d {
  border-top-left-radius: 0.5rem;
}

.zbjOM:first-child {
  border-top-left-radius: 0.5rem;
}

._1d9-h:first-child {
  border-top-right-radius: 0.5rem;
}

._1qQW- {
  border-bottom-left-radius: 0.5rem;
}

.h9yOs:last-child {
  border-bottom-left-radius: 0.5rem;
}

.WnVwW:last-child {
  border-bottom-right-radius: 0.5rem;
}

.SSlpF {
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

._10ug0 {
  box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

._1mvjp {
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}

._1ZQOo {
  box-shadow: 0 0 0 0.0625rem #036AD2;
}

._3ExOd {
  box-shadow: 0 0 0 0.0625rem #2C94FC;
}

.cPcrj:focus {
  box-shadow: 0 0 0 0.125rem white, 0 0 0 0.25rem #036AD2;
}

._30YNb:focus {
  box-shadow: 0 0 0.125rem 0.25rem #2C94FC;
}

._3IUVR:focus {
  box-shadow: inset 0 0 0.125rem 0.25rem #036AD2;
}

._3xHwH:focus {
  box-shadow: inset 0 0 0.125rem 0.25rem #2C94FC;
}

._2DVW1 {
  box-shadow: 0 0.125rem 0.5rem 0 #24384B;
}

._2RgML {
  box-shadow: 0 0.125rem 0.5rem 0 #373737;
}

._1uDvG {
  outline: none;
}

._1X-fp:focus {
  outline: none;
}

._1JJPa:active {
  outline: none;
}

.WyrIB {
  color: inherit;
}
.fzXKw {
  color: #f42684;
}
.gfwJM {
  color: #040f1a;
}
._5sSKv {
  color: #ffdf69;
}
.ZP70j {
  color: #b7332d;
}
._3Hys5 {
  color: #036ad2;
}
.HoA74 {
  color: #2d7c4b;
}
._1X0r7 {
  color: #ffffff;
}
._3Yy_8 {
  color: #f9fafc;
}
._1-04e {
  color: #ebf1f7;
}
._3_447:hover {
  color: #ebf1f7;
}
._9T8o1 {
  color: #cfd8e1;
}
._1mgFK {
  color: #bfcede;
}
._3fKs_ {
  color: #9fb1c3;
}
._1ytpQ {
  color: #5f7080;
}
._3EwYg:hover {
  color: #5f7080;
}
._2lCER {
  color: #162b3f;
}
.aVq7k:hover {
  color: #162b3f;
}

.fGzjm {
  color: #6adbe0;
}

._3OfgJ {
  color: #4464f9;
}

.INocy {
  color: #18a0f3;
}

/* New Colors */
.Kkkke {
  color: #040F1A;
}
._2YbDk {
  color: #FFFFFF;
}
._2JmH1:hover {
  color: #FFFFFF;
}
._2OqgV {
  color: #DFE6EE;
}
._28Qoj {
  color: #7E96AF;
}
._2rP_u {
  color: #52697F;
}
._26nbZ {
  color: #24384B;
}
._2gYGm:hover {
  color: #24384B;
}
._2D6oc {
  color: #B4CCE3;
}
._1tYnS {
  color: #036AD2;
}
._1jH2N:hover {
  color: #03488D;
}

._3Sibc {
  color: #DFE6EE;
}
._19yNX {
  color: #484848;
}
._3sbYT {
  color: #FFFFFF;
}

.IrleT {
  color: #F5F8FC;
}
._11E2i {
  color: #9D9D9D;
}
._3WYez {
  color: #5F5F5F;
}

._1_Zen {
  color: #1CD1FD;
}
._2wvXj:hover {
  color: #1CD1FD;
}
.N3INM {
  color: #2C94FC;
}
.b5T8_:hover {
  color: #2C94FC;
}
._1-RmJ {
  color: #0371E2;
}
._2fm6d {
  color: #004286;
}

._2qhdH {
  color: #B11030;
}
._1KCfV {
  color: #EB002F;
}
._1Ek5J {
  color: #AD0E2E;
}

.yti5I {
  color: #212021;
}

.eu0wt {
  cursor: pointer;
}

._3mRQ2 {
  cursor: not-allowed;
}

._27pSE {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

._3ubxc {
  font-family: inherit;
}

._1TU1F {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

/*
  NOTE: Do not update this file without direct authorization from the UX team.
    - All newly declared font sizes should follow the f000 pattern.
    - If a new font size is needed to be declared please place it at a number exactly halfway
    between adjacent numbers.
    - ie: You want to add a font size for 0.9rem you can place it between f300 and f400 as f350.
*/
._3Pu33 {
  font-size: 0.625rem; /* 10px */
}
._1u0se {
  font-size: 0.75rem; /* 12px */
}
.qCni6 {
  font-size: 0.875rem; /* 14px */
}
._1Vuz8 {
  font-size: 1rem; /* 16px */
}
.r_51O {
  font-size: 1.125rem; /* 18px */
}
/*
  NOTE: Please do not use the following class. The font size is not in the current typography
    system and should be removed. 03/26/2019
*/
._3QKup {
  font-size: 1.5rem; /* 24px */
}
._2MAG6 {
  font-size: 2.5rem; /* 40px */
}

/*
  NOTE:
    - Do not update this file without direct authorization from the UX team.
    - Do not use Legacy font weights in new components.
    - If needed (with design approval) you can introduce (or reintroduce)
      - extra-light, bold, extra-bold
*/

/* Typography */

._1klqQ {
  font-weight: 300;
}

._2EPoJ {
  font-weight: 400;
}

._3dQWg {
  font-weight: 600;
}

/*
  Legacy Font Weights
  NOTE: The following font weights exist for legacy purposes. 03/27/2019
    - They should not be introduced into new code.
    - They should be removed and replaced with components that use the classnames above.
*/
._2uZvU {
  font-weight: 700;
}

/* Legacy */
._2Qd4G {
  font-weight: 800;
}

._2GPxh {
  text-decoration: none;
}

._2F4If,
.BKs7P:hover {
  text-decoration: underline;
}

/* Added this class below underline to override it*/
.HqpoP:hover {
  text-decoration: none;
}

/*

title: List

markup:
  <ul>
    <li><a href="">Tab 1</a></li>
    <li><a href="">Tab 2</a></li>
    <li><a href="">Tab 3</a></li>
  </ul>

 */

._3SB07 {
  list-style: none;
  list-style-type: none;
  padding-left: none;
}

._18esd {
  margin: 0;
  padding: 0.625rem 0;
}

._18esd:first-child {
  border-top: 0.15625rem solid #cfd8e1;
}

._18esd:not(:first-child) {
  border-top: 0.078125rem solid #cfd8e1;
}

.L5JYu {
  list-style: none;
}

/* All sides */
._2nvbQ {
  border-color: black;
}

._1-B3n {
  border-color: #ffffff;
}

._3pkEW {
  border-color: #040f1a;
}

.rLjvl {
  border-color: #bfcede;
}

._2Aq8B {
  border-color: #282828;
}

._3MUQH {
  border-color: #036ad2;
}

.QfTRX {
  border-color: #18a0f3;
}

._3RK2U {
  border-color: #cfd8e1;
}

._3hqJN {
  border-color: #162b3f;
}

._1TN5h {
  border-color: transparent;
}

/* Left */
._3BujU {
  border-left-color: #5f7080;
}

._2rCgR {
  border-left-color: #000000;
}

._1amg7 {
  border-left-color: #040f1a;
}

._1jRFn {
  border-left-color: #cfd8e1;
}

/* Right */
._2UCDx {
  border-right-color: #bfcede;
}

._2zoHj {
  border-right-color: #040f1a;
}

._av4m {
  border-right-color: #cfd8e1;
}

.L_EfO {
  border-right-color: #5f7080;
}

/* Top */
._2x7M_ {
  border-top-color: #ebf1f7;
}

.l6Hjy {
  border-top-color: #cfd8e1;
}

.nb9cd {
  border-top-color: #162b3f;
}

/* Bottom */
._3z5uZ {
  border-bottom-color: #0F4A85;
}

._1xFty {
  border-bottom-color: #ffffff;
}

._213XX {
  border-bottom-color: #040f1a;
}

._37jTs {
  border-bottom-color: #ebf1f7;
}

._1FDh0 {
  border-bottom-color: #cfd8e1;
}

._2G9Fr {
  border-bottom-color: #bfcede;
}

._3g9SO {
  border-bottom-color: #162b3f;
}

/* Buttons */
._1OFiE {
  border-color: #036ad2;
}
._3fNlT:hover {
  border-color: #125ca6;
}
.PEKcC:active {
  border-color: #0e4780;
}
._38_Iv:disabled {
  border-color: #A2C7EB;
}

.gRfQL {
  border-color: #18a0f3;
}
.hFaQ1:hover {
  border-color: #3ed4e0;
}
.jts24:active {
  border-color: #00ffe1;
}
._2qVN7:disabled {
  border-color: #18a0f3;
}

.tKtza {
  border-color: #ebf1f7;
}
._2zuT6:hover {
  border-color: #c5d0d9;
}
._3Z-CO:active {
  border-color: #a7b6c2;
}
._3mjBJ:disabled {
  border-color: #F9FBFC;
}

._30Efy {
  border-color: #cfd8e1;
}
._1j5G7:hover {
  border-color: #f9fafc;
}
._3LrFt:active {
  border-color: #ffffff;
}
.frs7T:disabled {
  border-color: #cfd8e1;
}

._1yAXG {
  border-color: transparent;
}
._1YpxI:hover {
  border-color: #ebf1f7;
}
._2leXj:active {
  border-color: #c5d0d9;
}
._1rywf:disabled {
  border-color: transparent;
}

._1ofPu {
  border-color: transparent;
}
._1SrGY:hover {
  border-color: #162b3f;
}
.iQF3L:active {
  border-color: #5f7080;
}
._3Uipm:disabled {
  border-color: transparent;
}

._2skWg {
  border-color: #cfd8e1;
}
._2nnyr:hover {
  border-color: #cfd8e1;
}
._3RmQp:active {
  border-color: #c5d0d9;
}
._2_315:disabled {
  border-color: #cfd8e1;
}

._2f0a6 {
  border-color: #cfd8e1;
}
._1cNf4:hover {
  border-color: #cfd8e1;
}
._2oqex:active {
  border-color: #cfd8e1;
}
._2Sc8l:disabled {
  border-color: #cfd8e1;
}

._1w7ka {
  border-color: undefined;
}
._3V63q:hover {
  border-color: undefined;
}
.LZMgb:active {
  border-color: undefined;
}
._2QWOY:disabled {
  border-color: #E3AEAB;
}

._3rF71 {
  border-color: #b7332d;
}
.hwdZR:hover {
  border-color: #942b25;
}
._3y9_Z:active {
  border-color: #7a1914;
}
._26Lby:disabled {
  border-color: #E3AEAB;
}

/* New colors */
/* All sides */
._2REZi {
  border-color: #DFE6EE;
}
._2QhVo {
  border-color: #484848;
}

._1m3Tt {
  border-color: #DFE6EE;
}
.bs1v8 {
  border-color: #7E96AF;
}
._1Uelv:hover {
  border-color: #7E96AF;
}
.GELO2 {
  border-color: #24384B;
}
._3QPV5:hover {
  border-color: #24384B;
}

._1GEmE {
  border-color: #9D9D9D;
}
._3pbPP:hover {
  border-color: #9D9D9D;
}
._2Du2c {
  border-color: #5F5F5F;
}
._1PtOw {
  border-color: #484848;
}
._1OUku {
  border-color: #373737;
}

.piNio {
  border-color: #B11030;
}
._1jWqM {
  border-color: #EB002F;
}

._2-NaK {
  border-color: #036AD2;
}
._3WIas {
  border-color: #2C94FC;
}

._1XPaU {
  border-color: #FFFFFF;
}

/* Right */
._1be7S {
  border-right-color: #DFE6EE;
}
._3RoEJ {
  border-right-color: #484848;
}

/* Bottom */
._3egJn {
  border-bottom-color: #DFE6EE;
}
.XLNpQ {
  border-bottom-color: #484848;
}

.MqMBs {
  border-width: 0;
}

._1oa3D {
  border-width: 0.0625rem;
}

.BLoDz {
  border-width: 0.125rem;
}

._2d226 {
  border-width: 0.1875rem;
}

.He3bJ {
  border-width: 0.25rem;
}

._1S8Tk {
  border-bottom-width: 0.0625rem;
}

.FsGEJ {
  border-top-width: 0.0625rem;
}

._3fi4_ {
  border-top-width: 0.25rem;
}

._1JUZ4 {
  border-bottom-width: 0.25rem;
}

.XDx2H {
  border-right-width: 0.0625rem;
}

._12sFw {
  border-left-width: 0.0625rem;
}

._3iLLR {
  border-top-width: 0;
}
.NJ7Fi {
  border-right-width: 0;
}
.FTePY {
  border-bottom-width: 0;
}
._2qayK {
  border-left-width: 0;
}

._1NNPb {
  border-top-style: solid;
}

.QtlnY {
  border-right-style: solid;
}

._1X7db {
  border-bottom-style: solid;
}

._3fmjT {
  border-left-style: solid;
}

._1Q9tk {
  border-top-style: solid;
  border-bottom-style: solid;
}

._1G-3n {
  border-style: solid;
}

._1U5Ez {
  border-top-style: none;
}

._2Lr5y {
  border-right-style: none;
}

._2ACo9 {
  border-bottom-style: none;
}

.TiFbh {
  border-left-style: none;
}

._313YU {
  border-style: none;
}

._1Df9f {
  border-top-style: none;
  border-bottom-style: none;
}

/*
  NOTE: Do not update this file without direct authorization from the UX team.

  If you do introduce a new letter spacing class please name it after the component/context and
    add the new delclaration under `UX Approved Exceptions`
  ie: introducing letter spacing for visualization metadata.
    Name the class `.visualization-metadata`.
*/

/* Typography */
.IjQEA {
  letter-spacing: normal;
}

._3eAVo {
  letter-spacing: -0.0625rem; /* -1px */
}

._1CkQf {
  letter-spacing: 0.0125rem; /* 0.2px */
}

/* UX Approved Exceptions */
._2GD3o {
  letter-spacing: 0.013rem;
}

._3_n39 {
  grid-row-gap: 0.125rem;
}

.XTFfL {
  grid-row-gap: 0.25rem;
}

._13W39 {
  grid-row-gap: 0.5rem;
}

.sBEGy {
  grid-row-gap: 1rem;
}

.EE99T {
  grid-row-gap: 1.5rem;
}

.n-2yI {
  grid-row-gap: 2rem;
}

._2UlH7 {
  background-color: #bfcede;
}
.EQued {
  background-color: #040f1a;
}
._2HmLp {
  background-color: #282828;
}
._1KZEc {
  background-color: #ffffff;
}
._2eT77 {
  background-color: #000000;
}
.v54FI:hover {
  background-color: #000000;
}
.AdYqW {
  background-color: transparent;
}
.VrKIp {
  background-color: #0F4A85;
}
._14Z93 {
  background-color: #036ad2;
}
.XmCe6 {
  background-color: #2d7c4b;
}
._1DKHb {
  background-color: #ffdf69;
}
._2pCgm {
  background-color: #b7332d;
}

._1_Hzb {
  background-color: #18a0f3;
}

._VoTW {
  background-color: #f9fafc;
}
.amo0l {
  background-color: #ebf1f7;
}
._3u8U {
  background-color: #cfd8e1;
}
._34n67 {
  background-color: #9fb1c3;
}
._3OjkK {
  background-color: #5f7080;
}
._2vPB7 {
  background-color: #162b3f;
}

._3MRfj {
  background-color: #036ad2;
}
.c5Y3N:hover {
  background-color: #125ca6;
}
._3gXRP:active {
  background-color: #0e4780;
}
._3Z1Fi:disabled {
  background-color: #A2C7EB;
}

._1h7Oj {
  background-color: #18a0f3;
}
._1TtAR:hover {
  background-color: #3ed4e0;
}
.fRM3M:active {
  background-color: #00ffe1;
}
.D_X7w:disabled {
  background-color: #18a0f3;
}

._3oAVW {
  background-color: #ebf1f7;
}
._25wmC:hover {
  background-color: #c5d0d9;
}
._3xVzo:active {
  background-color: #a7b6c2;
}
._24mlj:disabled {
  background-color: #F9FBFC;
}
._1v8f4:hover {
  background-color: #000000;
}

._3yrI_ {
  background-color: #cfd8e1;
}
._20_6Q:hover {
  background-color: #f9fafc;
}
._2D_t8:active {
  background-color: #ffffff;
}
.lr_7y:disabled {
  background-color: #cfd8e1;
}

._2QZHb {
  background-color: transparent;
}
._2CRVk:hover {
  background-color: #ebf1f7;
}
._3FD55:active {
  background-color: #c5d0d9;
}
.dqMr2:disabled {
  background-color: #ffffff;
}

._1uPJ4 {
  background-color: transparent;
}
._2nXXl:hover {
  background-color: #162b3f;
}
._3IIOC:active {
  background-color: #5f7080;
}
._3NHic:disabled {
  background-color: transparent;
}

._1jcse {
  background-color: transparent;
}
._3f5PV:hover {
  background-color: #fcf2f2;
}
._3xoB9:active {
  background-color: #f8c0be;
}
._157S7:disabled {
  background-color: #ffffff;
}

.bgec3 {
  background-color: #b7332d;
}
.cy_US:hover {
  background-color: #942b25;
}
._3LYcN:active {
  background-color: #7a1914;
}
._1C83B:disabled {
  background-color: #E3AEAB;
}

/* New Color Palette */
._2KQj5 {
  background-color: #FFFFFF;
}
._1nL9F {
  background-color: #F6F6F6;
}
._10ZCG {
  background-color: #E7E7E7;
}
._2nJRv:hover {
  background-color: #E7E7E7;
}

._2xbfM {
  background-color: #B4CCE3;
}
.kSbz- {
  background-color: #036AD2;
}
._3l6Ay {
  background-color: #03488D;
}
._1P9VI:hover {
  background-color: #03488D;
}

._3bOLN {
  background-color: #F5F8FC;
}
.deDfQ:hover {
  background-color: #F5F8FC;
}
._1tYY7 {
  background-color: #DFE6EE;
}
._17JGC:hover {
  background-color: #DFE6EE;
}
._2l-3e {
  background-color: #7E96AF;
}
.PQVtO {
  background-color: #52697F;
}

._2vlA_ {
  background-color: #EEC3CC;
}
._1EMMc {
  background-color: #B11030;
}
._3aGpE:hover {
  background-color: #860B24;
}
._3ekr4::before {
  background-color: #DFE6EE;
}

._3JKYk {
  background-color: #353535;
}
._11iIg:hover {
  background-color: #353535;
}
.HwQnp {
  background-color: #2B2B2B;
}
.fbOVQ {
  background-color: #212021;
}

._38aX2 {
  background-color: #1CD1FD;
}
.zuNdI {
  background-color: #2C94FC;
}
.EbykJ:hover {
  background-color: #2C94FC;
}
._15EVb {
  background-color: #0371E2;
}
.Q3CrJ {
  background-color: #004286;
}

.G6vYL {
  background-color: #F5F8FC;
}
._3zPh6:hover {
  background-color: #F5F8FC;
}
._2xmmy {
  background-color: #9D9D9D;
}
._3BBKv {
  background-color: #5F5F5F;
}
._19S8i {
  background-color: #484848;
}
._12UHm::before {
  background-color: #484848;
}
._7i2PN:hover {
  background-color: #484848;
}
._1fHKG {
  background-color: #373737;
}
._3JmQB:hover {
  background-color: #373737;
}

.K4Luk {
  background-color: #EB002F;
}
._21n14:hover {
  background-color: #EB002F;
}
._4DgF- {
  background-color: #E0153D;
}
._12h9B {
  background-color: #AD0E2E;
}
._32JW_ {
  background-color: #6B0A1D;
}

._1Cpb_ {
  background-color: #FFC600;
}
._3mb10 {
  background-color: #FFF077;
}

._3Dl6n {
  background-color: #208820;
}
._2wXxU {
  background-color: #2FDB9F;
}

._2IG1p {
  background-color: rgba(43, 43, 43, 0.75);
}
._1-3WZ {
  background-color: rgba(33, 32, 33, 0.75);
}

._2NlrW::-webkit-scrollbar {
  background-color: transparent;
}

._1p4FK::-webkit-scrollbar-thumb {
  background-color: #484848;
}

.bYIl1::-webkit-scrollbar-thumb {
  background-color: #DFE6EE;
}

._1ryOq {
  position: relative;
}

._1eRcF::before {
  position: relative;
}

._1kGdM {
  position: absolute;
}

._3mBgV {
  position: fixed;
}

._2uXf- {
  position: -webkit-sticky;
  position: sticky;
}

._2zMXh {
  position: -webkit-sticky;
}

._1SlSP {
  flex-shrink: 0;
}

._2A0rX {
  flex-shrink: 1;
}

._1-qas {
  flex-shrink: 1.5;
}

._297EX {
  height: 100%;
}

._1uqzU {
  height: inherit;
}

._1uJRY {
  height: 100vh;
}

.Lj-go {
  height: 2.75rem;
}

.HT6aW {
  height: 2rem;
}

._1VT1M {
  height: 1.5rem;
}

._2r1qm {
  height: 0.125rem;
}
._3KutL::before {
  height: 0.125rem;
}

.kncYw {
  height: 4rem;
}

._16ixl {
  height: 0.25rem;
}

._1ApdN {
  height: 2.625rem;
}

._32LjR {
  height: 0.5rem;
}

._1xR3K {
  height: 1rem;
}

._3_COL {
  height: 1.25rem;
}

._279gg {
  height: 1.5rem;
}

._1bSrq {
  height: 2rem;
}

._1ib69 {
  height: 2.5rem;
}

._1yCC2 {
  height: 3rem;
}
.LttF5 {
  height: 3.5rem;
}

._14ghP {
  height: 4rem;
}

._3Cn5v {
  height: 8rem;
}

._1wrX4 {
  height: 2.5rem;
}

.a8dfU {
  height: 4.25rem;
}

._2Q7zo {
  height: 2.5rem;
}

.RlYFj {
  height: 1.5rem;
}

._3OcmH {
  height: 1.5rem;
}

._15kJQ {
  height: 2.5rem;
}

._2kjGd {
  height: calc(100% - 4rem);
}

.K2Dc5 {
  height: 11.5rem;
}

.sTm7p {
  height: calc(100vh - 21rem);
}

.bUUOF {
  justify-content: start;
}

._12fC4 {
  justify-content: end;
}

._1Ueot {
  justify-content: center;
}

._1LKT1 {
  justify-content: left;
}

._2Foly {
  justify-content: right;
}

._32Ike {
  justify-content: space-between;
}

._1d0hb {
  justify-content: space-around;
}

._2Tyfy {
  justify-content: space-evenly;
}

._1qQmK {
  justify-content: flex-start;
}

._2adUu {
  justify-content: flex-end;
}

._3B4pl {
  justify-content: baseline;
}

._28nL3 {
  justify-content: stretch;
}

.zAIVu {
  justify-content: normal;
}

._1kNpc {
  fill: #000000;
}

._2ARcR {
  fill: #036ad2;
}

.qGl2O {
  fill: #18a0f3;
}

._2uhTc {
  fill: #2d7c4b;
}

._2h5xJ {
  fill: #0eb36b;
}

._1DuDf {
  fill: #ebf1f7;
}

._2x2Ly:hover {
  fill: #ebf1f7;
}
._2QtA0 {
  fill: #bfcede;
}
._2mPQB {
  fill: #9fb1c3;
}
._39ull {
  fill: #5f7080;
}
._3fPRB {
  fill: #162b3f;
}
._26dzw {
  fill: #ffffff;
}

._2sUMZ {
  fill: currentColor;
}

/* new colors */
._2snFK {
  fill: #52697F;
}
._19QcE {
  fill: #24384B;
}
.CBLyh:hover {
  fill: #24384B;
}

._3JpLv {
  fill: #9D9D9D;
}

.x538d {
  fill: #B4CCE3;
}

._1y-GR {
  fill: #036AD2;
}
._1Nd1h {
  fill: #1CD1FD;
}
._2DSgh {
  fill: #2C94FC;
}

._2Bmht {
  fill: #040F1A;
}
.hsy9D {
  fill: #FFFFFF;
}

.qymZ4 {
  fill: #208820;
}
.i-F6g {
  fill: #2FDB9F;
}

._1qVs9 {
  fill: #B11030;
}

._2qHfi {
  fill: #DFE6EE;
}

.A5qkP {
  fill: #484848;
}

._2etqC {
  fill: none;
}
._--zBa {
  fill: #03488D;
}

._26kQa {
  fill: #F6F6F6;
}
._2Cms0 {
  fill: #2B2B2B;
}

._39nhP {
  opacity: 0.25;
}

._1cQE2 {
  opacity: 0.5;
}

._3DN7- {
  opacity: 0.75;
}

._2-tsK {
  opacity: 0;
}

.ttuqx {
  opacity: 1;
}

._2wZRg {
  height: 1rem;
  width: 1rem;
}
._3gB0R {
  height: 1.5rem;
  width: 1.5rem;
}
.Oj0T3 {
  height: 2rem;
  width: 2rem;
}
._2yyc0 {
  height: 3rem;
  width: 3rem;
}

._15XnO {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

._2m2dh {
  width: 100%;
}

._2aPcr {
  width: 60%;
}

._1sy-Y {
  width: 2.75rem;
}

._3t4-i {
  width: 2rem;
}

.t_NAX {
  width: 1.5rem;
}

.RxE5B {
  width: 5.8125rem;
}

._3yf5f {
  width: 11rem;
}

._23fQ9 {
  width: 10.5rem;
}

._1nCl6 {
  width: 5.5rem;
}

._1di8U {
  width: 20rem;
}

.rZbdE {
  width: 16.25rem;
}

.cVOGE {
  width: 41.625rem;
}

._1jdZ9 {
  width: 58rem;
}

.o3Rpk {
  width: 54rem;
}

._11ZkS {
  width: 0.5rem;
}

._19dMM {
  width: 1.5rem;
}

._2kK2S {
  width: 2rem;
}

._1cYoe {
  width: 3rem;
}

._1ylh5 {
  width: 4rem;
}

.rh64W {
  width: 16rem;
}

.jtc2a {
  width: 20rem;
}
._2hMXo {
  width: 22rem;
}
._2_7FM {
  width: 24rem;
}
._1Tdjr {
  width: 24rem;
}
._3eRcG {
  width: 0.0625rem;
}

._27h6- {
  width: 20rem;
}
._3ph4Q {
  width: 26rem;
}

._1l2xn {
  width: 8rem;
}

.sXxsD {
  width: 6.375rem;
}

._1zViR {
  width: 1.5rem;
}

.X6HOg {
  width: 2.5rem;
}

._3Mjz8 {
  width: 30rem;
}

.ofWQ1 {
  width: 33rem;
}

._1k2RF {
  width: 0.25rem;
}

._3lLwj {
  width: 50vw;
}

._25h2Y {
  width: 17.5rem;
}

.yrOfM {
  width: 100vw;
}

._2jBgy {
  width: 26rem;
}

._2VdlT {
  width: 12rem;
}

._1wTJL::-webkit-scrollbar {
  width: 0.5rem;
}

.ySQRK {
  width: 26rem;
}

.kzn-v {
  width: 20rem;
}

.ULS6G {
  width: 0.25rem;
}

.zraYX {
  width: 17rem;
}

._30u21 {
  width: 10rem;
}

._2Z-t2 {
  width: 2.25rem;
}

._3MlJu {
  width: 31rem;
}

._1PeXE {
  left: 0;
}
._3JuX7 {
  left: 50%;
}
._2vmGh {
  left: 100%;
}
.u_tEt {
  left: 0.5rem;
}
._2ae5s {
  left: 1rem;
}
._3p42S {
  left: 4rem;
}

.wHl8E {
  list-style-type: none;
}

.ec7Mg {
  right: 0;
}
._15rSy {
  right: 50%;
}
.oHlLv {
  right: 100%;
}
._2Y5Ie {
  right: -0.25rem;
}
._3Yewj {
  right: 0.5rem;
}
._1kvGS {
  right: 0.75rem;
}

._1B9Ux {
  z-index: 0;
}
.G1aLl {
  z-index: 1;
}
.Cu-u7 {
  z-index: 2;
}
._3npab {
  z-index: 50;
}
._2vIuH:focus {
  z-index: 2;
}

._2Ifh_ {
  min-width: 12rem;
}

._2Djv8 {
  min-width: 8rem;
}

._3dDxC {
  min-width: 6.375rem;
}

.e2axZ {
  min-width: 4rem;
}

._3qCKo {
  min-width: 0;
}

._1R1ub {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

._1LDzV {
  overflow: hidden;
}

._1gi2u {
  overflow: auto;
}

._2dHss {
  overflow-y: scroll;
}

._2zezK {
  overflow-y: auto;
}

._1v3QV {
  overflow-wrap: break-word;
}

._3hmpn {
  text-align: center;
}

.mh2N0 {
  text-align: right;
}

._2h91I {
  text-align: left;
}

._27JER {
  flex-grow: 0;
}

._2jUgs {
  flex-grow: 1;
}

._3QXqP {
  flex-grow: 1.5;
}

.Hzyeq {
  max-height: 6.25rem;
}

.xcneR {
  max-height: 7.5rem;
}

._2kqYD {
  max-height: 32rem;
}

._2VwYV {
  top: 0;
}
._3D-cM {
  top: 50%;
}
._1hI4T {
  top: 100%;
}
.KQjsQ {
  top: 4.5rem;
}
.bcGy- {
  top: 0.25rem;
}
._2ieCB {
  top: 0.75rem;
}
._196Nq {
  top: -100rem;
}
._196Nq:focus {
  top: 0;
  background: #ffffff;
  color: #036AD2;
  border: 0.125rem solid #036AD2;
}
._2rIPF::before {
  top: -1rem;
}
._2tXGm {
  top: 4rem;
}
._3A2Eb {
  top: 5.4rem;
}

.k83C2 {
  flex-direction: column;
}

._15RB9 {
  flex-direction: row;
}

._2a5Yc {
  max-width: 6.25rem;
}

._1Kbb0 {
  max-width: 90rem;
}

._1anuT {
  max-width: 30rem;
}

._3S7bh {
  max-width: 50rem;
}

.DAOJV {
  max-width: 40rem;
}

._19LXa {
  max-width: 26rem;
}

.EC-bl {
  max-width: 100%;
}

.E9u5N {
  max-width: calc(100% - 3rem);
}

._1OR0v {
  max-width: 31rem;
}

._1r5Yh {
  grid-column-start: 1;
}

._1Mu8U {
  grid-column-start: 2;
}

._3I9oO {
  grid-column-start: 3;
}

.ZOdDx {
  grid-column-start: 4;
}

._3PY0j {
  grid-column-start: 5;
}

._3GakN {
  grid-column-start: 6;
}

._3HNI8 {
  grid-column-start: 7;
}

._1fz_l {
  grid-column-start: 8;
}

._10qud {
  grid-column-start: 9;
}

._3aWJt {
  grid-column-start: 10;
}

._1919F {
  grid-column-start: 11;
}

.GV5SL {
  grid-column-start: 12;
}

.PisGC {
  grid-column-end: 1;
}

.g7OAW {
  grid-column-end: 2;
}

._1u7jd {
  grid-column-end: 3;
}

._1Zd8B {
  grid-column-end: 4;
}

._3T9uB {
  grid-column-end: 5;
}

._1x_-S {
  grid-column-end: 6;
}

.fEDF9 {
  grid-column-end: 7;
}

._2LV8s {
  grid-column-end: 8;
}

._1w5ZE {
  grid-column-end: 9;
}

._1QFjI {
  grid-column-end: 10;
}

._1L_Kw {
  grid-column-end: 11;
}

._2hn07 {
  grid-column-end: 12;
}

._2fA2x {
  grid-column-end: span 2;
}

._2ktjQ {
  grid-column-end: span 1;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("/mt-static/fonts/Inter/Inter-Light.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-Light.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  src: url("/mt-static/fonts/Inter/Inter-LightItalic.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/mt-static/fonts/Inter/Inter-Regular.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("/mt-static/fonts/Inter/Inter-RegularItalic.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-RegularItalic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/mt-static/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("/mt-static/fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"),
    url("/mt-static/fonts/Inter/Inter-SemiBoldItalic.woff") format("woff");
}

